<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mission to Mars</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <!-- title and scraper button -->
        <div class="container">
          <div class="jumbotron text-center">
            <h1><b>Mission to Mars</b></h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
          </div>
      
        <!-- Mars news -->  
          <div class="row">
            <div class="col-md-12">
              <div class="media">
                <div class="media-body">
                  <h2>Latest Mars News</h2>
                  <h4>{{mars.news_title}}</h4>
                  <h5></p>{{mars.news_paragraph}}</p></h5>
                </div>
              </div>
            </div>
          </div>
      
          <div class="row">
            <!-- Mars image left side-->
            <div class="col-md-8">
              <h2>Featured Mars Image</h2>
                <img src="{{mars.featured_image_url}}" >
            </div>
            <div class="col-md-4">
              <!-- Mars weather tweet-->
              <div class="row">
                <div class="col-md-12">
                            <h4><b>Current Weather on Mars</b></h4>
                            <p></p>                       
                </div>
              </div>
              <!-- HTML data-->
              <div class="row">
                <div class="col-md-12">
                  <h4><b>Mars Facts</b></h4>
                  {{mars.mars_facts | safe }}
                </div>
              </div>
            </div>
          </div>
          
          <!-- images and title-->
          <div class="row" >
            <div class="page-header">
              <h2 class="text-center"><b>Mars Hemispheres</b></h2>
            </div>
            {% for hemisphere in mars.hemisphere_image_urls %}
              <div class="col-md-6">
                  <div class="thumbnail">
                  <img src="{{hemisphere_image_urls}}">
                  <div class="caption">
                      <h3><b>{{hemisphere_image_urls.title}}</b></h3>
                  </div>
                  </div>
              </div>
            {% endfor %}
      
          </div>
        </div>
      </body>
</html>
